/* .button {
  padding: 10px;
  height: 50px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary {
  background-color: #007bff;
  color: #fff;
}

.secondary {
  background-color: #6c757d;
  color: #fff;
}

.button:hover {
  opacity: 0.9;
}

.destructive {
  background-color: #dc3545;
  color: #fff;
  height: fit-content;
} */
